/* Common features */

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1.5;
  font-weight: 700;
  font-size: 35px;
  color: #e50914;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  padding: 10px 0;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p, span {
  font-size: 18px;
}

ul {
  list-style: none;
}

#page-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

/* ------------------------------ Header ------------------------------ */

/* Navbar */

header > nav {
  width: 100%;
  height: 80px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

header > nav .search-bar {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-bar > input {
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.search-bar > button.btn {
  height: 35px;
  width: 40px;
  background-color: #e50914;
  border-radius: 5px;
  border: 1px solid #e50914;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.search-bar > button.btn:hover {
  opacity: 1;
}

.search-bar > button.btn > i {
  color: #fff;
}

header section#search-results {
  background-color: #e50914;
  height: 120px;
  padding-top: 80px;
}

header section#search-results h2 {
  height: 40px;
  line-height: 40px;
}

/* ------------------------------ Main ------------------------------ */

main {
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/84b453b4-0d46-4f2c-bd44-81aa6c19c6b5/a9fa654d-a0b4-459d-860d-34a4f5096c69/IT-en-20201116-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: calc(100vh - 200px);
}

main::after {
  content: '';
  display: block;
  position: absolute;
  top: 120px;
  left: 0px;
  width: 100%;
  height: calc(100% - 200px);
  min-height: calc(100vh - 120px);
  background: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}

main ul#cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  margin: 30px 0;
  position: relative;
  z-index: 1;
}

ul#cards-container > li.product-card {
  width: 342px;
  height: 500px;
  border: 2px solid #fff;
  background-color: black;
  margin: 10px 0;
}

ul#cards-container > li.product-card:hover {
  border: 2px solid #e50914;
}

li.product-card > .product-poster,
.product-poster > img {
  width: 100%;
  height: 100%;
}

.product-poster > img {
  object-fit: cover;
}

li.product-card > .product-info {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.product-info > .original-title {
  padding: 10px 0;
}

.product-info img {  // Flag language
  padding: 10px 0;
}

.product-info small {
  color: #e50914;
  font-size: 16px;
}

.product-info > .product-vote > i {
  color: #f6b922;
  padding: 10px 0;
}

.product-info > .overview {
  padding: 10px 10px 0;
  text-align: justify;
}

.product-info > .overview > p {
  display: inline;
  color: #c3c3c3;
  font-size: 16px;
}

/* ------------------------------ Footer ------------------------------ */

footer {
  width: 100%;
  height: 80px;
  background-color: black;
  line-height: 80px;
  position: relative;
  z-index: 1;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  h1 {
    font-size: 40px;
    padding-left: 10px;
  }

  header > nav .search-bar {
    padding-right: 10px;
  }

  .search-bar > input {
    height: 40px;
  }

  .search-bar > button.btn {
    height: 40px;
    width: 60px;
  }
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  header > nav .search-bar > input {
    width: 250px;
  }

  main {
    background-size: cover;
  }
}
